.paragraph{
    background-color: orangered;
}
.part{
    background-color: lightgreen;
}
.paragraph1 {
    background-color: darkgreen;
}
.part2{
    background-color: yellowgreen;
}
.tagdiv{
    background-color: orangered;
}
.tagspan{
    background-color: yellowgreen;
}